<!-- <html>
    <head>
        <title>
            {{ title }} - Your great coffee starts here
        </title>
    </head>
    <body>
        <h1>
            Coffee Orders
        </h1>
        {% for coffee in orders %}
            <ul>
                <p> {{ coffee.customer_name }}: <b> {{ coffee.order_date }} </b>, <b> {{ coffee.quantity }}</b>, <b> {{ coffee.price }} </b></p>
            </ul>
        {% endfor %}
    </body>
</html> -->
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

<html>
    <head>
        <title>
            {{ title }} - Your great coffee starts here
        </title>
    </head>
    <body>
        <h1>
            Coffee Orders
            
        </h1>
        <ul>
            <li>
                <a href="http://127.0.0.1:5000/orders/0">First coffee order</a>
            </li>
            <li>
                <a href="http://127.0.0.1:5000/orders/1">Second coffee order</a>
            </li>
            <li>
                <a href="http://127.0.0.1:5000/orders/2">Third coffee order </a>
            </li>
        </ul>
    </body>
</html>